<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://conventionportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>conventionportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>conventionportal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$conventionportal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="conferencedbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=walkers.database.windows.net;Initial Catalog=conferencedb;Persist Security Info=True;User ID=dbadmin;Password=pass#word1;Application Name=EntityFramework" Name="Data Source=walkers.database.windows.net;Initial Catalog=conferencedb;Persist Security Info=True;User ID=dbadmin;Password=pass#word1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ConferencePortal.conferencedbEntities, ConferencePortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)conferencedbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Conferencedb.csdl|res://*/Conferencedb.ssdl|res://*/Conferencedb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=walkers.database.windows.net;Initial Catalog=conferencedb;Persist Security Info=True;User ID=dbadmin;Password=pass#word1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>