@{
    List<Transport> transport = ViewBag.Transport;
}


@using (Html.BeginForm("SearchHotel", "Reservation", FormMethod.Post))
{


<div class="row">
    <div class="col-md-6">
        <div class="form-group  form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <label>Pick-up Location</label>
            <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group  form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <label>Drop-off Location</label>
            <input class="typeahead form-control" placeholder="City, Airport, U.S. Zip" type="text" />
        </div>
    </div>
</div>
<div class="input-daterange" data-date-format="M d, D">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Pick-up Date</label>
                <input class="form-control" name="start" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                <label>Pick-up Time</label>
                <input class="time-pick form-control" value="12:00 AM" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Drop-off Date</label>
                <input class="form-control" name="end" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                <label>Drop-off Time</label>
                <input class="time-pick form-control" value="12:00 AM" type="text" />
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
}