@{
    IEnumerable<Transport> transport;

    List<SelectListItem> Arrival = new List<SelectListItem>();
    List<SelectListItem> Dropoff = new List<SelectListItem>();

    if (ViewBag.Transport != null)
    {
        transport = ViewBag.Transport;

        foreach (var items in transport)
        {
            if (items.Type == "A")
            {
                Arrival.Add(new SelectListItem
                {
                    Text = items.StartLocation,
                    Value = items.StartLocation
                });
            }
            else
            { continue; }
        }

        foreach (var items in transport)
        {
            if (items.Type == "D")
            {
                Dropoff.Add(new SelectListItem
                {
                    Text = items.StartLocation,
                    Value = items.StartLocation
                });
            }
            else
            {
                continue;
            }
        }
    }
}


@using (Html.BeginForm("SearchTransport", "Reservation", FormMethod.Post))
{


    <div class="row">
        <div class="col-md-2">
            <div class="radio-inline">
                <label>
                    <input  type="radio" name="myRadios" onchange="handleChange1();" value="1" /> Arrival
                    @*<input class="i-radio" type="radio" checked="checked" onchange="handleChange1();" value="1" name="rbList" />Arrival*@
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="myRadios" onchange="handleChange2();" value="2" /> Depature
                    @*<input class="i-radio" type="radio" name="rbList" onchange="handleChange2();" value="2" />Depature*@
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="myRadios" onchange="handleChange3();" value="3" /> Other
                    @*<input class="i-radio" type="radio" name="rbList" />Other*@
                </label>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group  form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <label>Pick-up Location</label>

            <select id="Pickup" name="Pickup" class="form-control"></select>
        
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group  form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <label>Drop-off Location</label>

            <select id="DropOff" name="DropOff" class="form-control"></select>

        </div>
    </div>
</div>
<div class="input-daterange" data-date-format="M d, D">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Pick-up Date</label>
                <input class="form-control" name="start" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                <label>Pick-up Time</label>
                <input class="time-pick form-control" value="12:00 AM" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Drop-off Date</label>
                <input class="form-control" name="end" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                <label>Drop-off Time</label>
                <input class="time-pick form-control" value="12:00 AM" type="text" />
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" type="submit">Search for Rental Cars</button>
}


@Html.Script(
    @<script>

        var dd = $.ajax(
                     {
                         type: "GET",
                         url: "http://localhost:55185/Reservation/GetPickUpLocations",
                         dataType: "json",
                         async: false,
                         success: function (result) {
                             data = result;
                         },
                         error: function (x, e) {
                             alert(x + " " + e);
                             data = ["hello", "world"];
                         }
                     });

        var dd2 = $.ajax(
             {
                 type: "GET",
                 url: "http://localhost:55185/Reservation/GetDropOffLocations",
                 dataType: "json",
                 async: false,
                 success: function (result) {
                     data2 = result;
                 },
                 error: function (x, e) {
                     alert(x + " " + e);
                     data2 = ["hello", "world"];
                 }
             });

        var testDdl = $('#Pickup');
        var testDd2 = $('#DropOff');

        $('input:radio[name="myRadios"]').change(function () {
            if ($(this).val() == '1') {                

                $('#Pickup').empty();
                $('#DropOff').empty()

                for (var i = 0; i < data.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data[i]).text(data[i]);
                    testDdl.append(option);
                }

                for (var i = 0; i < data2.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data2[i]).text(data2[i]);
                    testDd2.append(option);
                }

                //$('#Pickup').val("BIA");
                //$("#Pickup").attr("disabled", true);
                //$("#DropOff").attr("disabled", false);
                //$('#DropOff').val("");

                //$("#Pickup").val("BIA");

            }
            else if ($(this).val() == '2') {

                $('#Pickup').empty();
                $('#DropOff').empty()

                for (var i = 0; i < data.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data[i]).text(data[i]);
                    testDd2.append(option);
                }

                for (var i = 0; i < data2.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data2[i]).text(data2[i]);
                    testDdl.append(option);
                }

                //$("#DropOff").val("BIA");
                //$('#DropOff').val("Bandaranayake Internation Airport");
                //$("#DropOff").attr("disabled", true);
                //$("#Pickup").attr("disabled", false);
                //$('#Pickup').val("");

                //$("#DropOff").val("BIA");
            }
            else {

            }
        });

    </script>
)

@section scriptLocation{



    @*<script>
        alert("You selected the first option and deselected the second one");
        $(function () {
            $('input:radio[name="myRadios"]').change(function () {
                if ($(this).val() == '1') {
                    alert("You selected the first option and deselected the second one");
                } else {
                    alert("You selected the second option and deselected the first one");
                }
            });
        });
    </script>*@

    @*<script>
        $(function () {
            $('input:radio[name="rbList"]').change(function () {
                if ($(this).val() == '1') {
                    $('#Pickup').val("Bandaranayake Internation Airport");
                    alert("Arrival");
                } else {
                    alert("You selected the second option and deselected the first one");
                }
            });
        });
    </script>*@
}