@using (Html.BeginForm("SearchTransport", "Reservation", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-2">
            <div class="radio-inline">
                <label>
                    <input  type="radio" name="myRadios" checked="checked" onchange="handleChange1();" value="1" /> Arrival
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="myRadios" onchange="handleChange2();" value="2" /> Depature
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="myRadios" onchange="handleChange3();" value="3" /> Other
                </label>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group  form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <label>Pick-up Location</label>
            <input type="text" name="txtPickup" id="txtPickup" class="form-control" style="display:none" />
            <select id="Pickup" name="Pickup" class="form-control"></select>        
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group  form-group-icon-left">
            <i class="fa fa-map-marker input-icon"></i>
            <label>Drop-off Location</label>
            <input type="text" name="txtDropOff" id="txtDropOff" class="form-control" style="display:none" />
            <select id="DropOff" name="DropOff" class="form-control"></select>

        </div>
    </div>
</div>
<div class="input-daterange" data-date-format="M d, D">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Pick-up Date</label>
                <input class="form-control" name="start" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                <label>Pick-up Time</label>
                <input class="time-pick form-control" value="12:00 AM" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Drop-off Date</label>
                <input class="form-control" name="end" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group  form-group-icon-left">
                <i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                <label>Drop-off Time</label>
                <input class="time-pick form-control" value="12:00 AM" type="text" />
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary btn-lg" id="btnSubmit" type="submit">Search for Rental Cars</button>
}


@Html.Script(
    @<script>

        var url = window.location.search;
        url = url.replace("?", ''); // remove the ?
        var myurls = url.split("&");
        var ConventionID = myurls[0].replace("ConventionID=", "");

        var dd = $.ajax(
                     {
                         type: "GET",
                         url: "http://localhost:55185/Reservation/GetPickUpLocations?ConventionID=" + ConventionID,
                         dataType: "json",
                         async: false,
                         success: function (result) {
                             data = result;
                         },
                         error: function (x, e) {
                             alert(x + " " + e);
                             data = ["hello", "world"];
                         }
                     });

        var dd2 = $.ajax(
             {
                 type: "GET",
                 url: "http://localhost:55185/Reservation/GetDropOffLocations?ConventionID=" + ConventionID,
                 dataType: "json",
                 async: false,
                 success: function (result) {
                     data2 = result;
                 },
                 error: function (x, e) {
                     alert(x + " " + e);
                     data2 = ["hello", "world"];
                 }
             });

        var testDdl = $('#Pickup');
        var testDd2 = $('#DropOff');

        $('#Pickup').empty();
        $('#DropOff').empty()

        for (var i = 0; i < data.length; i++) {
            var option = $("<option/>");
            option.attr("value", data[i]).text(data[i]);
            testDdl.append(option);
        }

        for (var i = 0; i < data2.length; i++) {
            var option = $("<option/>");
            option.attr("value", data2[i]).text(data2[i]);
            testDd2.append(option);
        }

        $('input:radio[name="myRadios"]').change(function () {
            if ($(this).val() == '1') {                

                $('#Pickup').empty();
                $('#DropOff').empty()

                for (var i = 0; i < data.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data[i]).text(data[i]);
                    testDdl.append(option);
                }

                for (var i = 0; i < data2.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data2[i]).text(data2[i]);
                    testDd2.append(option);
                }

                $('#Pickup').show();
                $('#DropOff').show();

                document.getElementById("txtPickup").style.display = 'none';
                document.getElementById("txtDropOff").style.display = 'none';

                document.getElementById("btnSubmit").innerText = "Search for Rental Cars";
            }
            else if ($(this).val() == '2') {

                $('#Pickup').empty();
                $('#DropOff').empty()

                for (var i = 0; i < data.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data[i]).text(data[i]);
                    testDd2.append(option);
                }

                for (var i = 0; i < data2.length; i++) {
                    var option = $("<option/>");
                    option.attr("value", data2[i]).text(data2[i]);
                    testDdl.append(option);
                }

                $('#Pickup').show();
                $('#DropOff').show();

                document.getElementById("txtPickup").style.display = 'none';
                document.getElementById("txtDropOff").style.display = 'none';

                document.getElementById("btnSubmit").innerText = "Search for Rental Cars";
            }
            else if ($(this).val() == '3') {
                $('#Pickup').hide();
                $('#DropOff').hide();

                document.getElementById("txtPickup").style.display = 'block';
                document.getElementById("txtDropOff").style.display = 'block';

                document.getElementById("btnSubmit").innerText = "Send Request";
            }
        });

    </script>
)

@section scriptLocation{

}