
@{
    ViewBag.Title = "Index";

    List<Room> rm = null;
    IEnumerable<Room> rooms = null;

    if (ViewBag.Rooms != null)
    {
        rm = ViewBag.Rooms;
        rooms = rm;
    }

    List<Hotel> hotels = ViewBag.Hotels;

}


<div class="container">
    <div class="booking-item-details">
        <div class="gap"></div>
        <h3>Available Rooms</h3>

        <div class="row">
            <div class="col-md-11">
                <div class="booking-item-dates-change">
                    <form>
                        <div class="row">
                            <div class="col-sm-3">

                                <div class="form-group form-group-select-plus">
                                    <label>Hotel</label>
                                    <select name="HotelList" id="HotelList" class="form-control">
                                        @foreach (var hotel in hotels)
                                        {
                                            <option value="@hotel.HotelID">@hotel.HotelName</option>

                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-daterange" data-date-format="MM d, D">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Check in</label>
                                                <input class="form-control" name="start" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-group-icon-left">
                                                <i class="fa fa-calendar input-icon input-icon-hightlight"></i>
                                                <label>Check out</label>
                                                <input class="form-control" name="end" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Adults</label>
                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" />1
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />2
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />3
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />3+
                                        </label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group form-group-select-plus">
                                    <label>Rooms</label>
                                    <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" name="options" />1
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />2
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />3
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" />3+
                                        </label>
                                    </div>
                                    <select class="form-control hidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option selected="selected">4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                <div class="gap gap-small"></div>

                @{
                    if (rooms != null)
                    {
                        @Html.Partial("_RoomView", rm);
                    }
                }

            </div>

            <div class="col-md-4">
                <div class="gap gap-small"></div>
                <h4>Hotel Facilities</h4>
                <ul class="booking-item-features booking-item-features-expand mb30 clearfix">
                    <li>
                        <i class="im im-wi-fi"></i><span class="booking-item-feature-title">Wi-Fi Internet</span>
                    </li>
                    <li>
                        <i class="im im-parking"></i><span class="booking-item-feature-title">Parking</span>
                    </li>
                    <li>
                        <i class="im im-plane"></i><span class="booking-item-feature-title">Airport Transport</span>
                    </li>
                    <li>
                        <i class="im im-bus"></i><span class="booking-item-feature-title">Shuttle Bus Service</span>
                    </li>
                    <li>
                        <i class="im im-fitness"></i><span class="booking-item-feature-title">Fitness Center</span>
                    </li>
                    <li>
                        <i class="im im-pool"></i><span class="booking-item-feature-title">Pool</span>
                    </li>
                    <li>
                        <i class="im im-spa"></i><span class="booking-item-feature-title">SPA</span>
                    </li>
                    <li>
                        <i class="im im-restaurant"></i><span class="booking-item-feature-title">Restaurant</span>
                    </li>
                    <li>
                        <i class="im im-wheel-chair"></i><span class="booking-item-feature-title">Wheelchair Access</span>
                    </li>
                    <li>
                        <i class="im im-business-person"></i><span class="booking-item-feature-title">Business Center</span>
                    </li>
                    <li>
                        <i class="im im-children"></i><span class="booking-item-feature-title">Children Activites</span>
                    </li>
                    <li>
                        <i class="im im-casino"></i><span class="booking-item-feature-title">Casino & Gambling</span>
                    </li>
                    <li>
                        <i class="im im-bar"></i><span class="booking-item-feature-title">Bar/Lounge</span>
                    </li>
                </ul>
            </div>

        </div>
        <h3 class="mb20">Hotel Reviews</h3>

    </div>
    <div class="gap gap-small"></div>
</div>








@section scriptLocation{
    <script>

        $("#start").change(function () {
            var curDate = new Date();
            var myDAte = $('#start').datepicker("getDate");
            if (Date.parse(curDate) > Date.parse(myDAte)) {
                alert('You have to Select Future Date');
                $("#start").datepicker().datepicker("setDate", new Date());
                return;
            }
            else {
                var bla2 = $('#start').val();
                $("#end").datepicker().datepicker("setDate", bla2);
            }
        });

        function myFunction() {
            $("#btnbook").on("click", function () {
                $.ajax(
                {
                    type: "POST",
                    url: "http://localhost:55185/Reservation/Test",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = result;
                    },
                    error: function (x, e) {
                        alert("Error" + e.error);
                    }
                });
            });
        }
    </script>
}