
@{
    ViewBag.Title = "Index";
}

	<!-- main -->
<section id="main" class="clearfix ad-details-page">
    <div class="container">

        <div class="adpost-details">
            <div class="row">
                <div class="col-md-8">
                    <form action="#">
                        <fieldset>
                            <div class="section seller-info">
                                <h4>Seller Information</h4>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">First Name<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" name="firstname" class="form-control" placeholder="ex, Jhon">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">Last Name<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lastname" class="form-control" placeholder="ex, Doe">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">Email<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="email" name="email" class="form-control" placeholder="ex, example@mail.com">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">Mobile Number<span class="required">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" name="mobileNumber" class="form-control" placeholder="ex, +912457895">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 label-title">Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="address" class="form-control" placeholder="ex, alekdera House, coprotec, usa">
                                    </div>
                                </div>
                            </div><!-- section -->


                            <!--<div class="checkbox section agreement">
                                <label for="send">
                                    <input type="checkbox" name="send" id="send">
                                    Send me Trade Email/SMS Alerts for people looking to buy mobile handsets in www By clicking "Post", you agree to our <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a> and acknowledge that you are the rightful owner of this item and using Trade to find a genuine buyer.
                                </label>
                                <button type="submit" class="btn btn-primary">Post Your Ad</button>
                            </div>--><!-- section -->

                        </fieldset>
                    </form><!-- form -->
                </div>

            </div><!-- photos-ad -->
        </div>
    </div><!-- container -->
</section><!-- main -->

